<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true" internalLogLevel="Info" internalLogFile="${basedir}/logs/internal-nlog.txt">
	<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true" internalLogLevel="Info" internalLogFile="/data/Logs/Temp/ImporterMedia/internal-nlog.txt">-->

	<!-- enable asp.net core layout renderers -->
	<!--<extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>-->

	<!-- Save CDR to -->
	<!--Windows-->
	<variable name="ScriptDirectoryLogs" value="${basedir}/logs" />
	<!--<variable name="ScriptDirectory" value="${basedir}/logs/transactions" />-->
	<!--Linux-->
	<!--<variable name="ScriptDirectoryLogs" value="/data/Logs/" />-->

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="File" name="i" createdirs="true" fileName="${var:ScriptDirectoryLogs}/Info/${shortdate}.log"
			layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
			archiveEvery="Day"
			archiveFileName="${var:ScriptDirectoryLogs}/Info/info_{########}.zip"
			archiveNumbering = "Date"
			archiveDateFormat = "yyyy-MM-dd"
			maxArchiveFiles = "0"
			enableArchiveFileCompression="true"/>

		<target xsi:type="File" name="d" createdirs="true" fileName="${var:ScriptDirectoryLogs}/Debug/${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" 
				archiveEvery="Day"
				archiveFileName="${var:ScriptDirectoryLogs}/Info/info_{########}.log"
				archiveNumbering = "Date"
				archiveDateFormat = "yyyy-MM-dd"
				maxArchiveFiles = "7"/>

		<target xsi:type="File" name="e" createdirs="true" fileName="${var:ScriptDirectoryLogs}/Error/${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" 
				archiveEvery="Day"
				archiveFileName="${var:ScriptDirectoryLogs}/Info/info_{########}.log"
				archiveNumbering = "Date"
				archiveDateFormat = "yyyy-MM-dd"
				maxArchiveFiles = "0"/>

		<!--<target xsi:type="File" name="transactions" createdirs="true" fileName="${var:ScriptDirectory}/transactions_${date:format=yyyy-MM-dd HH}.log"
				layout="${tdate},${correlationid},${providerid},${packageid},${providerpackageid},${issuccess},${failurereason},${request},${response}"
				archiveEvery="Hour"
				archiveFileName="${var:ScriptDirectory}/transactions_{########}.log"
				archiveNumbering = "Date"
				archiveDateFormat = "yyyy-MM-dd HH"
				maxArchiveFiles = "0"/>-->

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.*" maxlevel="off" final="true" />
		<logger name= "*"  levels = "Info" writeTo = "i" />
		<logger name = "*" minlevel = "Error" writeTo = "e" />
		<logger name = "*" minlevel = "Debug" writeTo = "d" />
	</rules>

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
</nlog>